.Article1{
    background-image: url('/src/img/blackandwhite\ bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    
}
.Article2{
    background-image: url('../../img/bg-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 866px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.Article3{
    background-image: url('../../img/blackandwhite\ 2\ \(3\).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 866px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.article_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article_title{
    width: 1200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 85px;
    text-align: center;
    text-shadow: 0px 8.36842px 8.36842px rgba(0, 0, 0, 0.25);
}
.article_info{
    margin: 30px 0 10px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    width: 700px;
    display: flex;
    justify-content: space-around;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.article_info svg {
    margin-right: 5px;
}
.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.links svg{
    margin-right: 20px;
}
.article_text{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 800px;
    margin-top: 50px;
    
}

.article_main img{
    margin-top: 50px;

}

.name_title{
    margin-top: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 134.4%;
    letter-spacing: 0.02em;
}
.surname_title{
    font-weight: 700;
}
.article_li{
     margin-top: 10px;
     margin-left: 40px;
}
.video{
    margin-top: 50px;
}
.caption_art{
    width: 450px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    
    text-align: center;
    margin-top: 5px;
    
  }
  .caption_art p{
    margin-bottom: 30px;
  }
@media(max-width:1000px){
    .Article1{
        height: 300px;
        width: 100%;
        
    }
    .Article2{
        height: 300px;
        width: 100%;
        
    }
    .Article3{
        height: 300px;
        width: 100%;
        
    }
    
    .article_title{
        font-size: 14px;
        line-height: 22px;
        width: 300px;
        margin-bottom: 50px;
    }
    .article_info{
        display: none;
    }
    .article_text{
        width: 250px;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
    }
    .caption_art{
        display: none;
    }
    .img_vert img{
        height: 280px;
        width: 200px;
        border-radius: 30px;
      }
      .img_goriz img{
        height: 200px;
        width: 270px;
      }
      .video{
        width: 300px;
        height: 200px;
      }
      .name_title{
        font-size: 30px;
      }
}