
 .carousel-slider {
  position: relative;
  width: 100%;
  height: 100vh;
}

.carousel-slider_background {
 
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}

.carousel-slider_buttons{
  display: flex;
 width: 90%;
  justify-content: space-between;

}
.carousel-slider_controls{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slider__prev,
.carousel-slider__next {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 10px;
  outline: none;
}

.carousel-slider__indicators {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;

}

.carousel-slider__indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transition: 0.5s;
}

.carousel-slider__indicator.active {
  background-color: white;
  transform: scale(1.3);
  transition: 0.5s;
}
.hero{
  position: absolute;
  left: 10%;
  top: 30%;
  
  font-family: 'Montserrat';
  font-style: normal;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.hero h2{
  width: auto;
height: auto;
font-weight: 700;
font-size: 110px;
line-height: 134px;
color: #FFFFFF;
}
.hero_info{
  width: auto;
height: auto;
font-weight: 400;
font-size: 20px;
line-height: 32px;
color: #FFFFFF;
margin-bottom: 50px;
}
.hero_buttons a{
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 0;
  text-decoration: none;
  font-family: 'Montserrat';
}
@media(max-width:1000px){
  .hero h2{
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 50px;
  }
  .hero_info{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
  .hero_buttons a{
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;
  }
  .carousel-slider_buttons{
    display: none;
  }
  
}