.language-picker {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    z-index: 3;
  }
  
  .language-picker__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    
  }
  
  .language-picker__label {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
  }
  
  .language-picker__selected {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    font-weight: bold;
    margin-right: 10px;
  }
  .dark-mode{
    background: rgba(33, 33, 33, 0.8);
    color: white;
  }
  .white-mode{
    background-color: white;
    color: #4C4C4C;
  }
  .language-picker__dropdown {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 100px;
    padding: 8px 0;
   
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
  }
  
  .language-picker__dropdown--visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .language-picker__option {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 1.5;
    
    text-align: left;
    transition: background-color 0.2s ease-in-out;
  }
  
  
  