.donate_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    width: 800px;
    text-align: center;
   
}
.donate_page{
    height: 800px;
    background-image: url(../../img/donate_bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
.dark-mode{
    background-color: #212121;
    color: white;
  }
.donate_info{
    height: 800px;

    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
}
.donate_text{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 800px;
    margin-top: 20px;
    
}
.rekviz{
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
}
@media(max-width:1000px){
    .donate_page{
        margin-top: 50px;
    }
    .donate_title{
        font-size: 20px;
        line-height: 22px;
        width: 300px;
    }
    .donate_text{
        width: 250px;
        font-size: 15px;
        line-height: 16px;

    }
    .rekviz{
        font-size: 20px;
        margin: 0;
    }
}